<template>
  <div id="app">
    {{ message }}
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      message:'hello andre'
    }
  }
}
</script>

<style>
#app{
  background-color: chartreuse;
  text-align: left;
}
</style>
